     |     |
-----|-----|
<%= HEADERS %> | <%= HEADER_AUTH %>
<%= RETURNS %> | [Result object](#result-object)
<%= SCOPE %> | Must be one of the followings:<ul><li>ADMIN_SHEETS, or</li><li>WRITE_SHEETS</li></ul>
